.crewmate-card {
    background-color: rgb(13, 134, 94);
    border-radius: 8px;
    margin: auto;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    margin-bottom: 50px;
}

.crewmate-content {
    margin: auto;
}

.edit-btn {
    background-color: #0a3107;
    padding: 16px 20px;
}

.edit-btn:hover {
    color: #bccf78
}

.title {
    border-bottom: solid 3px rgb(3, 19, 88);
}

.crewmate-id {
    position: relative;
    top: 0;
    margin-right: 90%;
}

.gen-crewmate-img {
    width: 50%;
    height: auto;
}

span {
    color: #c6c1e4;
}