.form-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: #7dd7dddd;
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    font-size: 30px;
    height: auto;
    padding: 20px 24px;
}

label {
    border-bottom: solid 3px rgb(45, 144, 190);
    margin-bottom: 20px;
}

input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    align-items: center;
    margin: auto;
    padding: 20px 24px;
}

.input-container li {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 20%;
    /* margin: auto; */
    text-align: center;
    align-items: center;
}

.create-crewmate-btn {
    background-color: #1772af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin: auto;
}